<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Choose your car</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            .error
            {
                color: #ff0000;
                font-weight: bold;
            }
        </style>
    </head>
    <body>

        <div align="center"><p>Welcome! Choose a car </p></div>
        <br/><br/><br/><br/>
        <img th:src ="@{/resources/static/goodcar.jpg}" alt="car"/>
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="form-group blu-margin" align="center">
                <form style ="display:inline-block" action="#" th:action="@{/choosecar}" th:object="${carOption}" th:method="POST" th:required="true">

                    <select name="total">
                        <option th:each="carName : ${carList}" 
                                th:value="${carName.getChoice()}" 
                                th:text="${carName.getCarName()}">Choose an Option</option>
                    </select>


                    <div align="center">
                        <button type="submit" class="btn btn-primary btn-block green darken-1 col s8 offset-s2" name="submit_car_choice"> Submit </button>
                        <input type="hidden" th:value="${carOption.getTotalBill()}" />
                    </div>

                </form>


            </div>

    </body>
</html>
