<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Choose your job</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <div style="text-align:center"><h1>Finally, select a job </h1></div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div class="form-group blu-margin" align="center">
            <form style ="display:inline-block" action="#" th:action="@{/choosejob}" th:object="${jobOption}" th:method="POST" th:required="true">

                <select name="total">
                    <option th:each="jobName : ${jobList}" 
                            th:value="${jobName.getChoice()}" 
                            th:text="${jobName.getJobName()}">Choose an Option</option>
                </select>


                <div align="center">
                    <button type="submit" class="btn btn-primary btn-block green darken-1 col s8 offset-s2" name="submit_car_choice"  > Submit </button>
                    <!--    <input type="hidden" th:value="${jobOption.getJobIncome()}" /> -->
                </div>

            </form>
        </div>



    </body>
</html>