<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Get a loan</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div style="text-align: left">
            How much do you want to pay off?
            <form action="#" th:action="@{/payloan}" th:object = "${user}" method="post">
                <p>Amount in $: <input type="number" name="loanPayback" 
                                       /></p>
                <input type="submit" value="Submit"/>
                <!--<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:errors="*" th:text='${errorMessage}'>

                    </p>
                </div>-->
            </form>
             <span th:utext="${errorMessage}"></span>
            <input type="button" value="Back" onclick="javascript:history.back()"/>
        </div>
    </body>
</html>
