<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Stats</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <table class="table table-striped">
            <tr>
                <th>Name : </th>
                <th>Income : </th>
                <th>Bills Due : </th>
                <th>Credit Score : </th>
                <th>Money : </th>
                <th>Loans: </th>
                
            </tr>
            <tr>
                <td> <span th:utext="${user.getName()}"/></td>
                <td> <span th:utext="${user.getMoney()}"/></td>
                <td> <span th:utext="${user.getBillAmount()}"/></td>
                <td> <span th:utext="${user.getCreditScore()}"/></td>
                <td><span th:utext="@{user.getMoney()}"/></td>
                <td> <span th:utext="${user.getLoans()}"/></td>
            </tr>
        </table>
        <div>TODO write content</div>
    </body>
</html>
